<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>健身系统</title>
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/element-ui/element-ui.css">
    <script src="lib/element-ui/element-ui.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <style>
        .el-form{
            border:1px solid #4140ff;
            padding:20px;
        }
        .el-input__icon+.el-input__inner {
            padding-right: 9px;
        }
        .mtop{
            margin-top: 10px;
        }
        .title{
            font-weight: bold;
        }
        .result{
            font-weight: 700;
            color: #f00;
        }
        .center{
            text-align: center;

        }
        .bg{
            background-color:lightblue ;
            padding: 5px;
        }
        .my-select{
            width: 60%;
            height: 50px;
            background-color: #fff;
            border: 1px solid #bfcbd9;
            padding-left: 5px;
            border-radius: 4px;
            font-size: 16px;
        }
        .box-card{
            margin-bottom: 10px;
        }
        .red{
            color: red;
            font-weight: 700;
        }
        .blue{
            color: blue;
            font-weight: 700;
        }
        .row{
            display: flex;
            justify-content:space-around;
            align-items: center;
        }
        .row-head>span{
            display: block;
            width: 50%;
            padding: 10px;
            font-weight:bold;
            text-align: center;
        }

    </style>
</head>
<body>
    <div id="app">
        <div v-if="isPC">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content bg-purple-dark">
                        <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
                            <el-menu-item index="1">健身管理</el-menu-item>
                        </el-menu>
                    </div>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" style="margin-top: 50px">
                <el-col :span="22">
                    <el-form :model="InputData" :inline="true" class="demo-form-inline el-form" label-width="150px">
                        <el-form-item label="姓名">
                            <el-select v-model="InputData.person" placeholder="姓名" @change="changePerson">
                                <el-option v-for="item in persons" :value="item.id" :label="item.name"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="年龄">
                            <el-input v-model="age" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="身高(cm)">
                            <el-input v-model="height" :disabled="true"></el-input>
                        </el-form-item>

                        <el-form-item label="体重(kg)">
                            <el-input v-model="InputData.weight"></el-input>
                        </el-form-item>
                        <el-form-item label="体年龄">
                            <el-input v-model="InputData.bodyAge"></el-input>
                        </el-form-item>
                        <el-form-item label="BMI">
                            <el-input v-model="InputData.bmi"></el-input>
                        </el-form-item>
                        <el-form-item label="体脂率(%)">
                            <el-input v-model="InputData.bodyFatRate"></el-input>
                        </el-form-item>
                        <el-form-item label="基础代谢(kcal)">
                            <el-input v-model="InputData.bmr"></el-input>
                        </el-form-item>
                        <el-form-item label="内脏脂肪">
                            <el-input v-model="InputData.viseralFat"></el-input>
                        </el-form-item>
                        <el-form-item label="全身皮脂(%)">
                            <el-input v-model="InputData.allFat"></el-input>
                        </el-form-item>
                        <el-form-item label="全身肌肉含量(%)">
                            <el-input v-model="InputData.allMuscle"></el-input>
                        </el-form-item>
                        <el-form-item label="上肢皮脂(%)">
                            <el-input v-model="InputData.upperFat"></el-input>
                        </el-form-item>
                        <el-form-item label="上肢肌肉含量(%)">
                            <el-input v-model="InputData.upperMuscle"></el-input>
                        </el-form-item>
                        <el-form-item label="躯干皮脂(%)">
                            <el-input v-model="InputData.trunkFat"></el-input>
                        </el-form-item>
                        <el-form-item label="躯干肌肉含量(%)">
                            <el-input v-model="InputData.trunkMuscle"></el-input>
                        </el-form-item>
                        <el-form-item label="下肢皮脂(%)">
                            <el-input v-model="InputData.lowerFat"></el-input>
                        </el-form-item>
                        <el-form-item label="下肢肌肉含量(%)">
                            <el-input v-model="InputData.lowerMuscle"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitData">提交数据并查询(最近两次)</el-button>
                            <el-button type="primary" @click="sendEmail">发送邮件(最近两次)</el-button>
                            <el-button type="primary" @click="searchData">按名查询(最近两次)</el-button>
                            <el-button type="primary" @click="searchAllData">查询所有历史数据</el-button>
                            <el-button type="primary" @click="empty">清空输入数据</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :span="22">
                    <h1>最近两次</h1>
                    <el-table
                            :data="tableData"
                            border
                            style="width: 100%">
                        <el-table-column
                                prop="compare"
                                label="对比">
                        </el-table-column>
                        <el-table-column
                                prop="weight"
                                label="体重(kg)">
                        </el-table-column>
                        <el-table-column
                                prop="bodyAge"
                                label="体年龄">
                        </el-table-column>
                        <el-table-column
                                prop="bmi"
                                label="BMI">
                        </el-table-column>
                        <el-table-column
                                prop="bodyFatRate"
                                label="体脂率(%)">
                        </el-table-column>
                        <el-table-column
                                prop="bmr"
                                label="基础代谢(kcal)">
                        </el-table-column>
                        <el-table-column
                                prop="viseralFat"
                                label="内脏脂肪">
                        </el-table-column>
                        <el-table-column
                                label="全身">
                            <el-table-column
                                    prop="allFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="allMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="上肢">
                            <el-table-column
                                    prop="upperFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="upperMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="躯干">
                            <el-table-column
                                    prop="trunkFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="trunkMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="下肢">
                            <el-table-column
                                    prop="lowerFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="lowerMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :span="22">
                    <h1>查询所有(倒序排列)</h1>
                    <el-table
                            :data="tableAllData"
                            border
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="age"
                                label="年龄">
                        </el-table-column>
                        <el-table-column
                                prop="height"
                                label="身高">
                        </el-table-column>
                        <el-table-column
                                prop="weight"
                                label="体重(kg)">
                        </el-table-column>
                        <el-table-column
                                prop="bodyAge"
                                label="体年龄">
                        </el-table-column>
                        <el-table-column
                                prop="bmi"
                                label="BMI">
                        </el-table-column>
                        <el-table-column
                                prop="bodyFatRate"
                                label="体脂率(%)">
                        </el-table-column>
                        <el-table-column
                                prop="bmr"
                                label="基础代谢(kcal)">
                        </el-table-column>
                        <el-table-column
                                prop="viseralFat"
                                label="内脏脂肪">
                        </el-table-column>
                        <el-table-column
                                label="全身">
                            <el-table-column
                                    prop="allFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="allMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="上肢">
                            <el-table-column
                                    prop="upperFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="upperMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="躯干">
                            <el-table-column
                                    prop="trunkFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="trunkMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                        <el-table-column
                                label="下肢">
                            <el-table-column
                                    prop="lowerFat"
                                    label="皮脂">
                            </el-table-column>
                            <el-table-column
                                    prop="lowerMuscle"
                                    label="肌肉">
                            </el-table-column>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            <el-row style="margin-top:20px">
                <el-col :span="24">
                    请选择姓名:
                    <select placeholder="请选择姓名" class="my-select" v-model="InputData.person">
                        <option v-for="item in persons" :value="item.id">{{item.name}}</option>
                    </select>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" class="mtop bg">
                <el-col :span="10">
                    <div class="center">
                        <span class="title">年龄:</span><span class="result">{{age}}</span>
                    </div>
                </el-col>
                <el-col :span="10">
                    <div class="center">
                        <span class="title">身高(cm):</span><span class="result">{{height}}</span>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="16">
                    <el-input v-model="InputData.weight" type="number" size="large" class="mtop">
                        <template slot="prepend">体重(kg)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.bodyAge" type="number" size="large" class="mtop">
                        <template slot="prepend">体年龄</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.bmi" type="number" size="large" class="mtop">
                        <template slot="prepend">BMI</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.bodyFatRate" type="number" size="large" class="mtop">
                        <template slot="prepend">体脂率</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.bmr" type="number" size="large" class="mtop">
                        <template slot="prepend">基础代谢(kcal)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.viseralFat" type="number" size="large" class="mtop">
                        <template slot="prepend">内脏脂肪</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.allFat" type="number" size="large" class="mtop">
                        <template slot="prepend">全身皮脂(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.allMuscle" type="number" size="large" class="mtop">
                        <template slot="prepend">全身肌肉含量(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.upperFat" type="number" size="large" class="mtop">
                        <template slot="prepend">上肢皮脂(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.upperMuscle" type="number" size="large" class="mtop">
                        <template slot="prepend">上肢肌肉含量(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.trunkFat" type="number" size="large" class="mtop">
                        <template slot="prepend">躯干皮脂(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.trunkMuscle" type="number" size="large" class="mtop">
                        <template slot="prepend">躯干肌肉含量(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.lowerFat" type="number" size="large" class="mtop">
                        <template slot="prepend">下肢皮脂(%)</template>
                    </el-input>
                </el-col>
                <el-col :span="16">
                    <el-input v-model="InputData.lowerMuscle" type="number" size="large" class="mtop">
                        <template slot="prepend">下肢肌肉含量(%)</template>
                    </el-input>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-button type="primary" @click="submitData">提交数据</el-button>
                </el-col>
                <el-col :span="12">
                    <el-button type="primary" @click="sendEmail">发送邮件</el-button>
                </el-col>
            </el-row>
            <el-row type="flex" justify="center" class="mtop">
                <el-col :span="12">
                    <el-button type="primary" @click="empty">清空输入数据</el-button>
                </el-col>
                <el-col :span="12">
                    <el-button type="primary" @click="searchData">按名查询</el-button>
                </el-col>
            </el-row>
            <h1>近两次对比结果</h1>
            <el-row>
                <el-col :span="24" v-if="tableData.length>0">
                    <el-card class="box-card" v-for="key in keys">
                       <p class="row row-head">
                           <span class="col-1">对比</span><span class="col-2">{{columnData[key]}}</span>
                       </p>
                       <p class="row row-1">
                           <span class="col-1">本次</span><span class="col-2">{{tableData[0][key]}}</span>
                       </p>
                       <p class="row row-2">
                           <span class="col-1">上次</span><span class="col-2">{{tableData[1][key]}}</span>
                       </p>
                       <p class="row row-3">
                           <span class="col-1">差值</span>
                           <span class="col-2" :class="[tableData[2][key]>0?redClass:blueClass]">
                               {{tableData[2][key]}}
                           </span>
                       </p>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>